/* body {
    overflow: hidden;
} */

.custom-jumbo {
    padding: 10px;
    background-color: rgb(184, 184, 184);
}

aside {
    padding: 15px;
    margin: 10px;
    float: right;
    height: 100%;
    width: 40%;
}

aside button {
    display: block;
    width: 100%;
}

aside ul {
    height: 100vh;
    padding: 20px;
}

.mainInfo {
    padding: 2rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainInfo h1 {
    font-size: 1rem;
}

.safe {
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(17, 179, 17);
}

.warning {
    padding: 10px;
    border-radius: 6px;
    background-color: hsl(60, 100%, 68%);
}

.danger {
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(225, 84, 84);
}

article {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.resize {
    display: flex;
    width: 4rem;
    height: auto;
}

.resize-text {
    font-size: 1rem;
}